/* 全体のスタイル設定 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* 言語切り替えボタンのスタイル */
.language-switch {
    text-align: center;
    margin-top: 10px;
}

.language-switch button {
    width: 100px; /* ボタンの幅を統一 */
    height: 40px; /* ボタンの高さを統一 */
    padding: 0; /* 内側の余白をリセット */
    margin: 5px;
    background-color: #6b8e23;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
}

.language-switch button:hover {
    background-color: #87CEEB;
}


/* ヘッダーのスタイル */
header {
    background-color: #6b8e23;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.app-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

/* Apple Storeリンクとソーシャルメディアリンクのスタイル */
.social-links {
    display: flex;
    gap: 10px; /* 各リンクの間隔を調整 */
    justify-content: center; /* 横中央揃え */
    align-items: center; /* 縦中央揃え */
    margin-top: 20px; /* 上部に余白を追加 */
}

.social-link img,
.store-link img {
    width: 40px; /* アイコンの幅を統一 */
    height: 40px; /* アイコンの高さを統一 */
    object-fit: cover; /* 画像が縦横比を崩さないように調整 */
    border-radius: 8px; /* アイコンを少し丸くする */
}

.store-badge {
    width: 150px;
    height: auto;
}


/* メインコンテンツのスタイル */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #6b8e23;
    padding-bottom: 10px;
}

.features ul {
    list-style-type: square;
    padding-left: 20px;
}

.features li {
    margin-bottom: 10px;
}

/* プレミアムプランセクション */
.premium {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

/* フッターのスタイル */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #6b8e23;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
